* {
  padding: 0;
  margin: 0;
}

body {
  text-align: center;
  font-family: 'Arimo', sans-serif;
  background: rgb(113, 191, 137);
}

input[type=text],
input[type=password] {
  box-shadow: none;
  border: none;
  border-bottom: 1px solid rgb(17, 28, 103);
  width: 50vw;
  height: 8vw;
  line-height: 5vw;
  text-align: center;
  font-family: 'Arimo', sans-serif;
  font-size: 5vw;
  background: rgb(113, 191, 137);
}

input[type=text]:hover,
input[type=button]:hover,
input[type=submit]:hover,
input[type=password]:hover {
  cursor: pointer;
}

input[type=text]:focus,
input[type=button]:focus,
input[type=submit]:focus,
input[type=password]:focus {
  outline: none;
}

input[type=text]::placeholder,
input[type=password]::placeholder {
  font-size: 5vw;
  color: rgba(17, 28, 103, .5);
}

input[type=button]:active,
input[type=submit]:active {
  /* transform: translateZ(-0.1vmax); */
  transform: translateY(0.1vmax);
  /* transform-origin: top left;
  transform: perspective(-10vmax);
  transform: rotate3d(1, 0, 0, -5deg); */
}


.form {
  text-align: center;
  font-family: 'Arimo', sans-serif;
}

.button {
  background: rgb(17, 28, 103);
  color: white;
  height: 9vw;
  width: 25vw;
  margin: 2.5vw 1vw;
  border-radius: 1vw;
  padding-left: 2vw;
  padding-right: 2vw;
  font-size: 5vw;
  font-family: 'Arimo', sans-serif;
  border: none;
}

.nav {
  text-decoration: none;
  color: rgb(17, 28, 103);
  font-size: 2vw;
  font-family: 'Arimo', sans-serif;
  margin-top: .001vw;
}

.rooms {
  text-decoration: none;
  font-size: 5vw;
  color: rgb(113, 191, 137);
  background: rgb(17, 28, 103);
  border-radius: 1vw;
  padding-left: 1vw;
  padding-right: 1vw;
  // margin-bottom: 10vw;
}

.roomsList {
  margin: 2vw;
}

.room {
  border: 1vw solid black;
  display: inline-block;
  overflow: hidden;
}

.newRoom {
  margin-top: 3vw;
}
